/*--------------Vista de producto especifico--------------*/

.producto_info {
    display: inline-flex;
    width: 80%;
}

.producto_info .card-producto {
    width: 50%;
}

.producto_info .card-producto img {
    width: 100%;
}

.info {
    width: 50%;
}

.info ul li {
    margin: 20px 0 20px;
    padding: 5px 0 5px;
    font-size: 20px;
    color: #eee;
}

.info ul li button {
    background-color: #00a6e4;
    border: none;
    padding: 9px;
    border-radius: 26px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.info ul li button:hover {
    box-shadow: 1px 1px 5px 1px rgb(228 228 228 / 94);
}

.info ul li p {
    font-size: 20px;
}

.info ul li:hover h4,
p {
    color: white;
}

.info ul li span {
    color: white;
    font-size: 35px;
}

@media (max-width:750px) {
    .info ul li p {
        font-size: 12px;
    }
}

@media (max-width:450px) {
    html,
    body {
        position: absolute;
        width: 100%;
    }
    .producto_des {
        width: 100%;
    }
    .producto_info {
        display: inline-block;
    }
    .producto_info .card-producto {
        width: 100%;
    }
    .info {
        width: 100%;
    }
    .titulo {
        font-size: 25px;
    }
}


/*--------------Vista de producto especifico--------------*/