/*---------------Header slider---------------*/

@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

html,
body {
    font-family: 'Quantico', sans-serif;
    background-color: #252525;
}


/*Estilos de Footer*/

.footer {
    /*position: fixed;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    text-align: center;
}

.footer .footer-conte {
    background-color: thistle;
    width: 80%;
    margin-bottom: 15px;
    display: contents;
}

.aviso,
.redes,
.dere-reser {
    padding: 3px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

.aviso a {
    color: #e8d700;
}

.redes ul {
    display: flex;
    margin: 5px;
    list-style: none;
    justify-content: center;
}

.redes ul li {
    color: white;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #354750;
    border-radius: 5px;
}

.redes ul li a {
    color: white;
}


/*Estilos de Footer*/

.temaPagina {
    transition: 0.8s;
    background-color: #e4e4e4;
}

header section {
    width: 100%;
}

header section .carousel-container {
    width: 100%;
    height: 40rem;
    padding: 0;
    position: relative;
    overflow: hidden;
}

header section .carousel-container .item {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    animation: fade 0.3s ease-in-out;
}

header section .carousel-container .item .numbertext {
    padding: 0.5rem 0.75rem;
    position: absolute;
    top: 4rem;
    right: 1rem;
    border-radius: 0.9375rem;
    font-size: 0.875rem;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.9);
}

header section .carousel-container .item .image {
    width: 100%;
    height: 100%;
    display: flex;
}

header section .carousel-container .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header section .carousel-container .item .text {
    width: 100%;
    padding: 0.625rem 0.9375rem;
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.9);
}

header section .carousel-container .item .text .title {
    margin: 0.5rem 0 0 0;
    font-size: 1.2rem;
    font-weight: normal;
}

header section .carousel-container .prev,
header section .carousel-container .next {
    width: 2rem;
    height: 2rem;
    padding: 0.3125rem;
    position: absolute;
    top: calc(50% - 1rem);
    user-select: none;
    font-size: 1rem;
    color: #f2f2f2;
    border-radius: 50%;
    transition: 0.6s ease;
}

header section .carousel-container .prev:focus,
header section .carousel-container .prev:hover,
header section .carousel-container .next:focus,
header section .carousel-container .next:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

header section .carousel-container .prev {
    left: 0.8rem;
}

header section .carousel-container .next {
    right: 0.8rem;
}

header section .carousel-container .dots {
    padding: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section .carousel-container .dots .dot {
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.125rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background-color: #bbb;
    transition: background-color 0.6s ease;
}

header section .carousel-container .dots .dot:focus,
header section .carousel-container .dots .dot:hover {
    background-color: #717171;
}

.has-dflex-center svg {
    width: 15px;
    color: #e8d700;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}


/*---------------Header slider---------------*/


/*---------------Header menu---------------*/

header nav {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 1;
}

.logo {
    align-items: center;
    padding: 0 100px;
    line-height: 80px;
}

.tema {
    color: white;
    margin-right: 10px;
}

.tema:hover {
    cursor: pointer;
}

header nav ul {
    float: right;
    margin-right: 40px;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

header nav ul li a {
    color: white;
    /*font-size: 18px;*/
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
}

a.active,
a:hover {
    border: 1px solid #e8d700;
    transition: 0.5s;
}

header nav #icon {
    color: #e8d700;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

header nav a:hover {
    border: none;
}

.menuP {
    background-color: rgba(0, 0, 0, 0.65);
}

.descripcion_neuro {
    text-align: justify;
    font-size: 1.4rem;
    padding: 0px 10px 30px 10px;
    margin: 0px 30px 0px 30px;
    color: white;
}

.descripcion_neuro img {
    justify-content: center;
    width: 100%;
}

@media (max-width: 1048px) {
    header nav #icon {
        font-size: 32px;
        padding-left: 60px;
    }
    header nav ul {
        margin-right: 20px;
    }
    header nav ul li a {
        font-size: 13px;
    }
}

@media (max-width: 949px) {
    header nav #icon {
        display: block;
    }
    header nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f36407a;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    header nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    header nav ul li a {
        font-size: 20px;
    }
    a.active,
    a:hover {
        border: none;
        color: #e8d700;
    }
    header nav ul.show {
        left: 0;
        height: 90%;
    }
}

@media (max-width: 430px) {
    .logo {
        padding: 0 10px;
    }
    .footer {
        display: block;
    }
    .descripcion_neuro {
        font-size: 15px;
    }
}


/*---------------Header menu---------------*/


/*------------------Cartas------------------*/

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body main {
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 2.2em;
}

.titulos {
    display: grid;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
}

.tituloDos {
    color: black;
}

.separador {
    width: 250px;
    border: 2px solid #FFEB3B;
}

.flip {
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
}

.flip>.front,
.flip>.back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}

.flip>.front {
    transform: rotateY(0deg);
}

.flip>.back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    transform: rotateY(-180deg);
}

.flip:hover>.front {
    transform: rotateY(180deg);
}

.flip:hover>.back {
    opacity: 1;
    transform: rotateY(0deg);
}

.flip.flip-vertical>.back {
    transform: rotateX(-180deg);
}

.flip.flip-vertical:hover>.front {
    transform: rotateX(180deg);
}

.flip.flip-vertical:hover>.back {
    transform: rotateX(0deg);
}

.flip {
    position: relative;
    display: inline-block;
    margin-bottom: 4em;
    width: 400px;
}

.flip>.front,
.flip>.back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 220px;
    padding: 1em 2em;
    background: #313131;
    border-radius: 10px;
}

.flip>.front p,
.flip>.back p {
    font-size: 0.9125rem;
    line-height: 160%;
    color: #999;
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}


/*------------------Cartas------------------*/